[submodule "3.sem/1.eduos"]
	path = 3.sem/1.c.eduos
	url = https://github.com/ImmortalTurtle/eduos.git
[submodule "8.sem/rebot-football"]
	path = 8.sem/rebot-football
	url = https://github.com/aostrouhhov/robot-football.git
	branch = dwa
